*.coffee
*.crt
*.csv
*.db
*.dev
*.erb
*.enc
*.gif
*.gpg
*.gz
*.ico
*.jpeg
*.jpg
*.key
*.lock
*.log
*.map
*.pem
*.png
*.prawn
*.properties
*.py
*.sample
*.sh
*.snap
*.sql
*.svg
*.txt
*.xml
*.xsd
*.dev
.*
.DS_Store
.gitignore
.vagrant/
/.github/
/bin/
/config/cucumber.yml
/config/database*
/coverage/
/doc/
/provision/
/script
/spec/cassettes/
/spec/fixtures/
/spec/javascripts/fixtures/
/tmp/
/vendor/
Dockerfile
Procfile
\#*#
knapsack_rspec_report.json
/docker-compose.buildkite*.yml
/subapps/waysact-export-engine/lib/
